* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;

    /* background-color: #1A0B2E; */
}

.nav-menu {
    display: flex;
    gap: 32px;
}