* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared */

.font-color-white-opacity60 {
    color: #FFFFFF;
    opacity: 60%;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

button {
    color: #FFFFFF;
    font-weight: 600;
    padding: 12px 16px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

/* shared end */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    background-color: #1A0B2E;
}

.nav-menu {
    font-size: 19px;
    display: flex;
    gap: 32px;
}

.nav-menu a {
    text-decoration: none;
    color: #FFFFFF;
}

.techwave-logo {
    font-size: 44px;
    font-weight: 800;
}

.tech-text {
    color: white;
}

.radiant-text {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* techwave microphone */

.techwave-micro {
    background: url(../assets/hero-bg.png) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* gap: 16px; */

}

.hero-images {
    position: relative;
    width: fit-content;
    padding-bottom: 40px;
    padding-top: 101px;
}

.hero-circle {
    display: block;
}

.microphone {
    position: absolute;
    top: 50%;
    /* adjust these two values to place it perfectly */
    left: 50%;
    transform: translate(-50%, -60%);
}

.white-logo-techwave {
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
}
.text-p-of-micro {
    padding-bottom: 24px;
}

.btn-green {
    color: #00FF88;
    background: none;
    border: 1px solid #00FF88;
}

.new-badge {
    position: absolute;
    top: 100px;
    right: 50px;
    background: #00FF88;
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;

}

.two-button{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
/* About the Podcast */

.podcast {
    background-color: #1A0B2E;

}

.podcast-h {
    padding-bottom: 12px;
    padding-top: 50px;
}

.podcast-text {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 80px;
    line-height: 30px;

}

.all-ratings {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    padding-top: 80px;

}

.all-ratings,
.text-below-ratings {
    display: flex;
    gap: 80px;
    justify-content: center;
    /* flex-direction: row; */
    /* text-align: center; */
}

.text-below-ratings {
    padding-top: 25px;
    padding-bottom: 120px;
}

hr {
    width: 1200px;
    opacity: 10%;
    margin: 0 auto;
}


/* Why Choose TechWave */

.techwave {
    background-color: #1A0B2E;
}

.whytechwave-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.box-techwave {
    background-color: #250D44;
    border-radius: 40px;
    padding: 40px;
}

.box-techwave:hover {
    transform: translateY(-4px);
    transition: 0.3s ease;
}

.box-techwave:nth-child(1) {
    grid-row: span 2;
}

.box-techwave:nth-child(2),
.box-techwave:nth-child(3) {
    grid-column: span 2;
}

.box-techwave:nth-child(4) {
    grid-column: span 2;
    height: ;
}

.title-of-techwave {
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.main-title-of-techwave {
    padding-bottom: 40px;
}




/* Featured Episodes */

.episodes {
    background-color: #1A0B2E;
    padding: 120px 120px;
}

.episode-title {
    padding-bottom: 40px;

}


.card-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}


.card {
    display: flex;
    flex-direction: column;
    width: 380px;
    background-color: #250D44;
    /* This is the culprit */
    /* height: 226px; */
    /* border: 1px solid red; */
    border-radius: 24px;
}


.card:hover {
    transform: translateY(-4px);
    transition: 0.3s ease;
}


iframe {
    width: 100%;
    border: none;
    /* border-radius: 24px; */
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.text-of-details {
    padding: 24px;
}

.headline-of-card {
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-bottom: 12px;
}

.para-of-card {
    padding-bottom: 12px;

}

.para-of-card2 {
    color: #00FF88;
}

.img-text {
    display: flex;
    gap: 6px;
}


/* Meet the Host */
.meet-the-host {
    /* border-left: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #1A0B2E;
    padding-bottom: 120px;
}



.alex-portfolio {
    display: flex;
    background-color: #250D44;
    width: 1200px;
    margin: 0 auto;
    gap: 24px;
    padding: 40px 40px;
    border-radius: 40px;
}

.content-of-alex {
    display: flex;
    flex-direction: column;
    gap: 16px;
}



/* i dont know how can i make this section like the figma design ! */
.alex-icons img {
    padding: 13px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    /* height: 40px; */
    /* box-sizing: border-box; */
    /* border: 1px greenyellow; */
    /* background-color: red; */
    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 50px; */
    /* align-items: center; */
}

.name-title {
    font-size: 2.45rem;
    font-weight: 700;
    color: #FFFFFF;
}




/* footer */
footer {
    background: url(../assets/footer-bg.png) no-repeat;
    background-size: cover;
    padding: 120px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.techwave-logo2 {
    font-size: 3.8rem;
    font-weight: 800;
}

.footer-icons-links {
    display: flex;
    /* flex-direction: row; */
    gap: 40px;
}

footer img {
    filter: brightness(0) invert(100%);
}

.footer-icons-links div {
    display: flex;
    color: #FAFAFA;
    gap: 8px;
    text-align: center;
}

.footer-icons-links p {
    font-size: 1.2rem;
    opacity: 60%;
}

.footer-icons-links div p {
    font-size: 1.2rem;
    opacity: 60%;
}

footer>div:last-child p {
    font-size: 1.5rem;
    text-align: center;
}