* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    background-color: #1A0B2E;
}

.nav-menu {
    font-size: 19px;
    display: flex;
    gap: 32px;
}

.nav-menu a {
    text-decoration: none;
    color: #FFFFFF;
}

.techwave-logo {
    font-size: 44px;
    font-weight: 800;
}

.tech-text {
    color: white;
}

.radiant-text {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button { 
    color: #FFFFFF;
    font-weight: 600;
    padding: 12px 16px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 30px;


}